pipeline/CSVtoDB-pipeline.json
{
	"name": "CSVtoDB-pipeline",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select distinct EnglishOccupation from [dbo].[DimCustomer]",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "exporttocsv",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from [dbo].[DimCustomer] where EnglishOccupation =\n@{item().EnglishOccupation}\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"tablename": {
											"value": "@pipeline().parameters.tablename",
											"type": "Expression"
										},
										"domainname": {
											"value": "@pipeline().parameters.dbconnection",
											"type": "Expression"
										},
										"dbname": {
											"value": "@pipeline().parameters.dbname",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "CustomerLakeDS",
									"type": "DatasetReference",
									"parameters": {
										"container": {
											"value": "@pipeline().parameters.container",
											"type": "Expression"
										},
										"folder": {
											"value": "@pipeline().parameters.folder",
											"type": "Expression"
										},
										"file": {
											"value": "@item().EnglishOccupation",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"dbconnection": {
				"type": "string",
				"defaultValue": "karthic-elastic-pool.database.windows.net"
			},
			"dbname": {
				"type": "string",
				"defaultValue": "karthic-test-cust-db"
			},
			"tablename": {
				"type": "string",
				"defaultValue": "DimCustomer"
			},
			"container": {
				"type": "string",
				"defaultValue": "karthiccontainer"
			},
			"folder": {
				"type": "string",
				"defaultValue": "outputfeed"
			},
			"file": {
				"type": "string"
			}
		},
		"folder": {
			"name": "oct16-pipeline"
		},
		"annotations": []
	}
}