pipeline/RESTAPIPipeline.json
{
	"name": "RESTAPIPipeline",
	"properties": {
		"activities": [
			{
				"name": "RestAPI",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:02:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "http://dummy.restapiexample.com/api/v1/employees",
					"method": "GET"
				}
			},
			{
				"name": "Fail1",
				"type": "Fail",
				"dependsOn": [
					{
						"activity": "RestAPI",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"message": {
						"value": "@activity('RestAPI').error.message",
						"type": "Expression"
					},
					"errorCode": {
						"value": "1234",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}